---
layout: default
published: true
---
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        {% for post in paginator.posts %}
            {% if post.feature_image_path == nil %}
            <div class="index-cards mdl-cell mdl-card mdl-shadow--4dp portfolio-card" style="background: url('{{site.baseurl}}images/example.jpg') center / cover;">
            {% else %}
            <div class="index-cards mdl-cell mdl-card mdl-shadow--4dp portfolio-card" style="background: url('{{site.baseurl}}images/{{post.feature_image_path}}') center / cover;">
            {% endif %}
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-layout-spacer"></div>
                    <a class="mdl-button mdl-button--accent mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{{ post.url }}">{{post.title}}</a>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="flex-container">
        <div class="pagination">
        {% if paginator.next_page %}
        <button onclick="location.href='{{ paginator.next_page_path }}'" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Old Recipes
        </button>
        {% else %}
            <span class="pagination-item older">
            <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
                Old Recipes
            </button>
            </span>
        {% endif %}
        {% if paginator.previous_page %}
            <button onclick="location.href='{{ paginator.previous_page_path }}'" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                New Recipes
            </button>
        {% else %}
            <span class="pagination-item newer">
            <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
                New Recipes
            </button>
            </span>
        {% endif %}
        </div>
    </div>
</main>
