.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.article-image{
  overflow: visible;
}

img.article-image {
  width: 100%;
  height: auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.index-cards.mdl-card {
  width: 256px;
  height: 256px;
}

.index-cards > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.index-cards > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  background: rgba(255, 255, 255, 0.5)
}

.index-cards > .mdl-card__title,
.index-cards > .mdl-card__actions,
.index-cards > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.demo-list-item {
  width: 500px;
}