<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    
    <span class="mdl-layout-title">CJT<br><i style="font-size: 20px;" class="material-icons">restaurant_menu</i>Cooks</span></a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp">
        </div>
    </div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="">Recipes</a>
      <a class="mdl-navigation__link" href="">About Us</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">CJT<i style="padding-top: 10px"class="material-icons">restaurant_menu</i>Cooks</span>
  <nav class="mdl-navigation">
    <a style="text-decoration: none;" class="mdl-navigation__link" href="">Recipes</a>
    <a style="text-decoration: none;"class="mdl-navigation__link" href="">About Us</a>
  </nav>
</div>
